<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Resume Maker</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link href="../static/css/style.css" rel="stylesheet">
       
    </head>
    <body class="homepage" id="homepage_se">
        <header class="bg_image">
            <div class="text-left">
                <div class="container">
                    <div class="logo">
                        <h2>RESUME MAKER</h2>
                        <p>Attractive resumes Download and Use Now!</p> 
                    </div>
                    <div class="nav_button_right">
                        <a href="/resume_template" class="btn btn-info" >Create Awesome Resumes Now..!</a>
                    </div>
                </div>
            </div>
        </header>


        <section id="banner">
            <div class="container">
                <div class="row container">
                    <div class="col-md-12">
                        <h1> CONTACT  </h1>
                        <h4>Write your message for our team here</h4>
                        <a href="/resume_template" class="btn btn-danger bn" >View All Templates</a>
                        <form action="/page-traitement-donnees" method="post">
                        <div>
                            <label for="nom">Votre nom</label>
                            <input type="text" id="nom" name="nom" placeholder="Martin" required>
                        </div>
                        <div>
                            <label for="email">Votre e-mail</label>
                            <input type="email" id="email" name="email" placeholder="monadresse@mail.com" required>
                        </div>
                        <div>
                            <label for="sujet">Quel est le sujet de votre message ?</label>
                            <select name="sujet" id="sujet" required>
                            <option value="" disabled selected hidden>Choisissez le sujet de votre message</option>
                            <option value="probleme-compte">Problème avec mon compte</option>
                            <option value="question-produit">Question à propos d’un produit</option>
                            <option value="suivi-commande">Suivi de ma commande</option>
                            <option value="autre">Autre...</option>
                            </select>
                        </div>
                        <div>
                            <label for="message">Votre message</label>
                            <textarea id="message" name="message" placeholder="Bonjour, je vous contacte car...." required></textarea>
                        </div>
                        <div>
                            <button type="submit">Envoyer mon message</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <script src="../static/js/jquery-2.1.3.js"></script>
    </body>
</html>
